*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
nbproject
*.sublime-project
*.sublime-workspace
_notes
dwsync.xml
*.komodoproject
.komodotools
*.esproj
*.espressostorage
.hg
.svn
.CVS
intermediate
publish
.idea
composer.phar
composer.lock
vendor/